*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color:azure;
}

.heading{
    background-color: #081b31;
    width:100%;
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
}

.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice:hover{
    background-color: #081b31; 
    cursor: pointer;
}

.score-card{
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
    margin-top: 60px;
}

#user,#comp{
    font-size: 3rem;
}

.text{
    margin-top: 5rem;
}

#text{
    background-color: #081b31;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
